{% extends 'parent/base.html' %}
{% block title %}Create New Post{% endblock %}
{% block content %}
    <form method="post" enctype="multipart/form-data">
        {% csrf_token %}
        {{ form.as_p }}
        {% if post %}
            {% for img in post.images.all %}
                <img width="30px" height="300px" src="{{ img.Iimage_file.url }}" alt="{{ img.title }}">
                <a href="{% url 'blog:delete_image' img.id %}">Delete Image</a>
            {% endfor %}
        {% endif %}
        <br>
        <input type="submit" value="Submit">
    </form>

    {% if form.errors %}
        Correct Errors!
        <br>
        {% for field in form %}
            {% if field.error %}
                {% for error in field.errors %}
                    {{ field.label }} : {{ error }}
                {% endfor %}
            {% endif %}
        {% endfor %}
    {% endif %}
{% endblock %}