{% extends 'parent/base.html' %}
{% block title %} product list {% endblock %}

{% block content %}
    {% if category %}
        <h1>Product List Of {{ category.name }} :</h1>
    {% else %}
        <h1>Product List :</h1>
    {% endif %}
    <br>
    <a href="{% url 'shop:product_list' %}">All</a>
    <br>
    {% for ct in categories %}
        <a href="{{ ct.get_absolute_url }}">{{ ct.name }}</a>
        <br>
    {% endfor %}
    <br>
    <br>
    {% for product in products %}
        <img src="{{ product.images.first.file.url }}" width="150" height="150">
        <p><a href="{{ product.get_absolute_url }}">{{ product.name }}</a></p>
        <p>{{ product.new_price }}</p>
        <br>
        <hr>
    {% endfor %}
{% endblock %}