{% extends 'parent/base.html' %}
{% block title %}Author Detail{% endblock %}
{% load blog_tags %}
{% block content %}
    <h1>Author Detail :</h1>
    <br>
    <h3>{{ author.user.first_name }} {{ author.user.last_name }}</h3>
    <br>
    <p>Biography : {{ author.bio }}</p>
    <br>
    <p>Birth Date : {{ author.date_of_birth }}</p>
    <br>
    <p>Job : {{ author.job }}</p>
    <hr>
    <h3>Written Posts :</h3>
    <table style="width:50%; border-collapse: collapse;">
        <tr>
            <th style="border:2px solid orange;">Row</th>
            <th style="border:2px solid orange;">Post</th>
            <th style="border:2px solid orange;">Summery</th>
            <th style="border:2px solid orange;">Category</th>
            <th style="border:2px solid orange;">Date</th>
        </tr>
        {% for post in posts %}
        <tr>
            <td style="border:2px solid orange;">{{ forloop.counter }}</td>
            <td style="border:2px solid orange;">
                <a href="{{ post.get_absolute_url }}">{{ post.title }}</a>
            </td>
            <td style="border:2px solid orange;">
                <a href="{{ post.get_absolute_url }}">{{ post.description | truncatewords:4 | markdown }}</a>
            </td>
            <td style="border:2px solid orange;">
                <a href="{{ post.get_absolute_url }}">{{ post.category }}</a>
            </td>
            <td style="border:2px solid orange;">
                <a href="{{ post.get_absolute_url }}">{{ post.created }}</a>
            </td>
        </tr>
        {% endfor %}
    </table>
{% endblock %}