{% extends 'parent/base.html' %}
{% block title %}Post Detail{% endblock %}
{% load blog_tags %}
{% block content %}
{% load jformat %}
    {% include 'partials/header.html' %}
    <h1>{{post.title}}</h1>
    Author : {{ post.author }}
    <br>
    Published Date : {{ post.publish | jformat:"%Y/%m/%d %H:%M"}}
    <br>
    {% for item in content %}
        {% if item.paragraph %}
            <p>{{ item.paragraph | markdown }}</p>
        {% endif %}
        {% if item.image %}
            <img src="{{ item.image.image_file.url }}" alt="{{ item.image.title }}">
        {% endif %}
    {% endfor %}
    <hr>
    <div>
        {% with comments|length as cm_count %}
            Comment Count : {{ cm_count }} comment {{ cm_count | pluralize}}
        {% endwith %}
    </div>

    <br>

    <div>
        <p>Comment List : </p>
        {% for cm in comments %}
            {{ cm.name }} :
            {{ cm.body | linebreaks}}
            <br>
        {% empty %}
            no comments!
        {% endfor %}
    </div>

    <br>

    <form method="post" action="{% url 'blog:post_comment' post.id %}">
        {% csrf_token %}
        {{ form.as_p }}
        <input type="submit" value="Submit">
    </form>
{% endblock %}

