{% extends 'parent/base.html' %}
{% block title %}Post Detail{% endblock %}

{% block content %}
{% load jformat %}
    <h1>{{post.title}}</h1>
    <h2>
        Author : {{ post.author }}
        <br>
        Published Date : {{ post.publish | jformat:"%Y/%m/%d %H:%M"}}
    </h2>
    <hr>
    <p> {{ post.description | linebreaks }}</p>
    <br>
    <div>
        {% with comments|length as cm_count %}
            Comment Count : {{ cm_count }} comment {{ cm_count | pluralize}}
        {% endwith %}
    </div>

    <br>

    <div>
        <p>Comment List : </p>
        {% for cm in comments %}
            {{ cm.name }} :
            {{ cm.body | linebreaks}}
            <br>
        {% empty %}
            no comments!
        {% endfor %}
    </div>

    <br>

    <form method="post" action="{% url 'blog:post_comment' post.id %}">
        {% csrf_token %}
        {{ form.as_p }}
        <input type="submit" value="Submit">
    </form>
{% endblock %}

