{% extends 'parent/base.html' %}
{% load blog_tags %}
{% block title %} Index {% endblock %}
{% block content %}
    {% include 'partials/header.html' %}
    <h2>Site Statics</h2>
    <p>Total Comment : {% total_comment %}</p>
    <p>Total Posts : {% total_post %}</p>
    <p>Last Post Date : {% last_post_date %}</p>
    <br>
    {% last_posts 3 %}
    <br>
    <h2>Popular Posts</h2>
    {% popular_posts 3 as pp %}
    {% for post in pp %}
        <a href="{{ post.get_absolute_url }}">{{ post.title }} : {{ post.comment_count }} comment</a>
    <br>
    {% endfor %}
    <br>

    <h4>Maximum Reading Time :</h4>
    <p>
        {% max_read_time as long_post %}
        <a href="{{ long_post.get_absolute_url }}">{{ long_post }} : {{ long_post.reading_time }}</a>
    </p>

    <h4>Minimum Reading Time :</h4>
    <p>
        {% min_read_time as short_post %}
        <a href="{{ short_post.get_absolute_url }}">{{ short_post }} : {{ short_post.reading_time }}</a>
    </p>

{% endblock %}