{% extends 'parent/base.html' %}
{% block title %}Post Lists{% endblock %}
{% block content %}
    {% include 'partials/header.html' %}
    {% if category %}
        <h1>Results For {{ category }} : </h1>
    {% else %}
        <h1>Post Lists : </h1>
    {% endif %}
<ol style="--length: {{ posts|length }};" role="list">
    {% for post in posts %}
        <li style="--i: {{forloop.counter }}">
            <h3>
                <a href="{{ post.get_absolute_url }}">{{ post.title }}</a>
            </h3>
            <img src="{{ post.images.first.image_file.url }}"
            <p>{{ post.description | truncatewords:5 }}</p>
            <hr>
        </li>
    {% endfor %}
</ol>
    <h4>categories :</h4>
    <p><a href="{% url 'blog:post_list_category' 'sky' %}">Sky</a></p>
    <p><a href="{% url 'blog:post_list_category' 'programming' %}">Programming</a></p>
    <p><a href="{% url 'blog:post_list_category' 'others' %}">Others</a></p>
    {% include "partials/pagination.html" with page=posts %}
{% endblock %}