{% extends 'parent/base.html' %}
{% block title %}Post Lists{% endblock %}
{% block content %}
    <h1>Welcome!</h1>
    <h4>Name : {{ user.username }}</h4>
    <p><a href="{% url 'blog:create_post' %}">Create New Post</a></p>
    <br>
<table style="width:50%; border-collapse: collapse;">
    <tr>
        <th style="border:2px solid orange;">Row</th>
        <th style="border:2px solid orange;">Display</th>
        <th style="border:2px solid orange;">Edit</th>
        <th style="border:2px solid orange;">Delete</th>
    </tr>

    {% for post in posts %}
    <tr>
        <td style="border:2px solid orange;">{{ forloop.counter }}</td>
        <td style="border:2px solid orange;">
            <a href="{{ post.get_absolute_url }}">{{ post.title }}</a>
        </td>
        <td style="border:2px solid orange;"><a href="{% url 'blog:edit_post' post.id %}">Edit</a></td>
        <td style="border:2px solid orange;"><a href="{% url 'blog:delete_post' post.id %}">Delete</a></td>
    </tr>
    {% endfor %}
</table>
{% endblock %}