{% for post in posts %}
    {% for img in post.images.all %}
        {% if img.image_file %}
            <img src="{{ img.image_file.url }}" width="250" height="250" alt="{{ img.title }}">
        {% endif %}
    {% endfor %}
    <a href="{{ post.get_absolute_url }}">
        {{ post.description | truncatewords:4 | linebreaks }}
    </a>
    Published At {{ post.created }} by {{ post.author }}
    <br>
    {% for tag in post.tags.all %}
        <a href="{% url 'social:post_list_by_tag' tag.slug %}">{{ tag.name }}</a>
        {% if not forloop.last %} , {% endif %}
    {% endfor %}
    <br>
    <hr>
{% endfor %}