{% load thumbnail %}
{% load static %}
<h1>{{ user.username }} :</h1>
{% if user.photo %}
    <a href = "{{ user.photo.url }}">
        <img src="{% thumbnail user.photo 200x0 quality=80 %}">
    </a>
{% else %}
    <img src="{% static 'profiles/images.jpg' %}">
{% endif %}
    <h3>Saved Posts</h3>
    <table style="width:50%; border-collapse: collapse;">
        <tr>
            <th style="border:2px solid orange;">Row</th>
            <th style="border:2px solid orange;">Description</th>
        </tr>

        {% for post in user.saved_post.all %}
        <tr>
            <td style="border:2px solid orange;">{{ forloop.counter }}</td>
            <td style="border:2px solid orange;">
                <a href="{{ post.get_absolute_url }}">{{ post.description | truncatewords:4 }}</a></td>
        </tr> 
        {% endfor %}
    </table>
    <hr>

    <table style="width:50%; border-collapse: collapse;">
        <tr>
            <th style="border:2px solid orange;">Row</th>
            <th style="border:2px solid orange;">Description</th>
            <th style="border:2px solid orange;">Edit</th>
            <th style="border:2px solid orange;">Delete</th>
        </tr>

        {% for post in user.user_posts.all %}
        <tr>
            <td style="border:2px solid orange;">{{ forloop.counter }}</td>
            <td style="border:2px solid orange;">
                <a href="{{ post.get_absolute_url }}">{{ post.description | truncatewords:4 }}</a>
            </td>
            <td style="border:2px solid orange;"><a href="{% url 'social:edit_post' post.id %}" >edit post</a></td>
            <td style="border:2px solid orange;"><a href="{% url 'social:delete_post' post.id %}">delete post</a></td>
        </tr> 
        {% endfor %}
    </table>

<a href="{% url 'social:password_change' %}">Change Password</a>